.overlay-burger {
  position: fixed;
  top: 102px;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  z-index: 5;
  visibility: hidden;
  opacity: 0;
  background: rgba(27, 26, 27, 0.70);
}

.overlay-burger.is-visible {
  display: block;
  opacity: 1;
  visibility: visible;
}

.burger-menu {
  transform: translateY(-500px);
}

.burger-menu__wrapper {
  background-color: var(--dark, #1B1A1B);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 58px 0 59px;
}

.burger-menu__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 39px;
}

.burger-menu__link {
  text-transform: uppercase;
}

.burger-menu__link:hover {
  color: var(--pink-color, #CD06FF);
}

.burger-menu__btn {
  display: none;
  min-width: 184px;
  max-height: 37px;
  padding: 11px 23px;
  line-height: 14px;
  border: 2px solid var(--pink-color, #CD06FF);
  border-radius: 6px;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--color-white, #FFF);
  font-weight: 700;
  font-style: normal;
}

@media (max-width: 320px) {
  .overlay-burger {
    top: 65px;
  }
  .burger-menu__list {
    margin-bottom: 38px;
  }
  .burger-menu__btn {
    display: block;
  }
}