.citate {
	display: flex;
	padding-top: 59px;
}

.citate__autor {
	max-width: 1125px;
	display: inline-block;
	margin: 0;
	padding: 0 9px;
	color: #FFF;
	font-size: 44px;
	font-weight: 400;
	line-height: 50px;
	text-transform: uppercase;
	position: relative;
}

.citate__quotes {
	color: #6C0287;
	font-size: 44px;
	font-weight: 900;
	line-height: 50px; 
	text-transform: uppercase;
}

.citate__quotes-close {
	position: absolute;
	bottom: 28px;
	right: 118px;
}