.contacts-content__wrapper {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.contacts-content__item {
	display: flex;
	align-items: center;
	gap: 30px;
	max-width: 415px;
	margin-bottom: 39px;
}

.contacts-content__item-adress{
	margin-bottom: 38px;
}

.contacts-content__item-tel {
	margin-bottom: 11px;
}

.contacts-content__address {
	font-size: 24px;
	font-weight: 700;
	line-height: 28px;
	font-style: normal;
}

.contacts-content__link  {
	color: #FFF;
	text-decoration: none;
	font-size: 24px;
	font-weight: 700;
	line-height: 28px;
	font-style: normal;
}

.contacts-content__map {
	min-width: 680px;
	min-height: 274px;
}

.contacts-content__bottom {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.contacts-content__coopyright {
	font-size: 14px;
	line-height: 16px;
}

.contacts-content__developer-link {
	font-size: 14px;
	line-height: 16px;
}