.creator {
	display: flex;

}

.creator__wrapper {
	display: flex;
	align-items: center;
	gap: 30px;
	width: 389px;
	height: 84px;
}

.creator__img {
	display: block;
}

.creator__text {
	display: block;
	font-size: 20px;
	font-style: normal;
	line-height: 28px; 
}