.description {
	--card-count: 3;
	--column-gap: 20px;
	--row-gap: 40px;
	padding-bottom: 120px;
}

.description__title {
	text-align: center;
	margin-bottom: 41px;
}

.description__cards {
	display: flex;
	column-gap: var(--column-gap);
	row-gap: var(--row-gap);
	flex-wrap: wrap;
}

.description__card {
	flex-basis: calc(100% / var(--card-count) - (var(--column-gap) * (var(--card-count) - 1)/ var(--card-count)));
	min-height: 228px;
	padding: 166px 40px 6px ;
	transition: transform, 0.2s;
}

.description__card-vr {
	background: url('../img/vr.png');
	background-repeat: no-repeat;
}

.description__card-audio {
	background: url('../img/audio.png');
	background-repeat: no-repeat;
	transform: translateY(70px);
}

.description__card-karaoke {
	background: url('../img/karaoke.png');
	background-repeat: no-repeat;
}

.description__card-games {
	background: url('../img/board-games.png');
	background-repeat: no-repeat;
}

.description__card-netflix {
	background: url('../img/netflix.png');
	background-repeat: no-repeat;
	transform: translateY(70px);
}

.description__card-ps {
	background: url('../img/ps5.png');
	background-repeat: no-repeat;
}

.description__card:hover {
	transform: scale(1.1, 1.1);
}

.description__card-audio:hover,
.description__card-netflix:hover {
	transform: translateY(70px) scale(1.1 , 1.1);
}

.description__link {
	font-weight: 700;
	line-height: 28px; 
}