.question-content__list {
	width: 100%;
	display: flex;
	gap: 20px;
	flex-direction: column;
	padding: 0;
}

.question-content__item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: var(--color-white);
	padding: 30px 70px;
	font-weight: 700;
	font-size: 24px;
	color: var(--dark-light);
	cursor: pointer;
}

.question-content__item:nth-of-type(even) {
	background-color: var(--dark-purple);
	color: var(--color-white);
}

.question-content__item::after {
	content: '';
	background-image: url('../img/open-purple.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-color: transparent;
	width: 46px;
	height: 46px;
	border-radius: 50%;
	transition-property: all;
	transition-duration: 0.2s;
}

.question-content__item:nth-of-type(even)::after {
	content: '';
	background-image: url('../img/open.svg');
}

.question-content__item:hover::after {
	background-image: url('../img/open.svg');
	background-color: var(--dark-purple, #440F51);
	border-radius: 50%;
}

.question-content__item:nth-of-type(even):hover::after {
	background-color: var(--color-white, #FFF);
	background-image: url('../img/open-purple.svg');
}

.question-content__item:active::after {
	background-image: url('../img/close.svg');
}

.question-content__item:nth-of-type(even):active::after {
	background-image: url('../img/close-purple.svg');
}


@media (max-width: 1439px) and (min-width: 768px) {
	.question-content__item:nth-of-type(even) {
		background-color: var(--color-white);
		color: var(--dark-light);
	}

	.question-content__item:nth-of-type(even)::after {
			background-image: url('../img/open-purple.svg');
	}

	.question-content__item:last-child {
		display: none;
	}

	.question-content__item:nth-of-type(even):hover::after {
		background-image: url('../img/open.svg');
		background-color: var(--dark-purple, #440F51);
		border-radius: 50%;
	}

	.question-content__item:nth-of-type(even):active::after {
		background-image: url('../img/close.svg');
	}
}

@media (max-width: 767px) and (min-width: 320px) {
	.question-content__item {
		font-size: 14px;
		line-height: 18px;
		padding: 7px 13px 7px 10px;
	}

	.question-content__item:nth-of-type(even) {
		background-color: var(--color-white);
		color: var(--dark-light);
	}

	.question-content__item::after, 
	.question-content__item:nth-of-type(even)::after {
		background-image: url('../img/open320.svg');
		max-width: 30px;
		max-height: 30px;
	}

	.question-content__item:last-child {
		display: none;
	}

	.question-content__item:hover::after,
	.question-content__item:nth-of-type(even):hover::after {
		background-image: url('../img/plus-320px.svg');
		background-color: transparent;
	}

	.question-content__item:active::after,
	.question-content__item:nth-of-type(even):active::after {
		background-image: url('../img/close-320px.svg');
		background-color: transparent;
	}
}