.footer {
	padding: 50px 0 10px;
	background: linear-gradient(180deg, #1B1A1B 0%, #370A37 100%);
}

@media (max-width: 1439px) and (min-width: 1024px) {
	.footer {
		padding: 35px 0 19px;
	}
}

@media (max-width: 1023px) and (min-width: 768px) {
	.footer {
		padding: 35px 0 18px;
	}
}

@media (max-width: 767px) and (min-width: 320px) {
	.footer {
		padding: 15px 0 24px;
	}
}