html {
  position: relative;
  box-sizing: border-box;
	scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
	background-color: var(--dark, #1B1A1B);
	color: var(--color-white, #FFF);
	font-weight: 400;
	font-style: normal;
  min-width: 320px;
  min-height: 100vh;
	font-size: 20px;
  font-family: Arial, sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

svg {
  max-width: 100%;
  height: 100%;
}

button {
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
	transition-duration: 0.2s;
	transition-property: all;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p,
figure,
fieldset {
  margin: 0;
}

iframe {
  border: none;
}

/*
Доступно скрываю элементы
*/

.visually-hidden {
  position: fixed;
  transform: scale(0);
}


/*
Пример контейнера

Если контейнер 1180px по макету,
то для max-width прибавляем паддинги 30px*2, 
в итоге 1240px
Чтобы контент не прижимался к краям экрана
*/

.container {
  max-width: 1440px;
  padding: 0 130px;
  margin: 0 auto;
}

fieldset {
	border: none;
	padding: 0;
	margin: 0;
}


@media (max-width: 1439px) and (min-width: 1024px) {
	.container {
		max-width: 1024px;
		padding: 0 60px;
	}
}

@media (max-width: 1023px) and (min-width: 768px) {
	.container {
		max-width: 768px;
		padding: 0 40px;
	}
}

@media (max-width: 767px) and (min-width: 320px) {
	.container {
		max-width: 320px;
		padding: 0 20px;
	}
}