html {
  position: relative;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
	background-color: #1B1A1B;
	color: #FFF;
	font-weight: 400;
	font-style: normal;
  min-width: 320px;
  min-height: 100vh;
	font-size: 20px;
  font-family: Arial, sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

svg {
  max-width: 100%;
  height: 100%;
}

button {
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
	transition-duration: 0.2s;
	transition-property: all;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p,
figure,
fieldset {
  margin: 0;
}

iframe {
  border: none;
}

/*
Доступно скрываю элементы
*/

.visually-hidden {
  position: fixed;
  transform: scale(0);
}


/*
Пример контейнера

Если контейнер 1180px по макету,
то для max-width прибавляем паддинги 30px*2, 
в итоге 1240px
Чтобы контент не прижимался к краям экрана
*/

.container {
  max-width: 1240px;
  padding: 0 30px;
  margin: 0 auto;
}

fieldset {
	border: none;
	padding: 0;
	margin: 0;
}