.halls {
	padding: 94.5px 0 100px;
}

.halls-content__list {
	width: 100%;
	padding: 0;
	margin: 0;
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto auto;
	gap: 20px;
	list-style: none;
}

.halls-content__item {
	max-width: 580px;
	width: 100%;
	min-height: 349px;
	height: 100%;
}

.halls-content__link {
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	color: var(--color-white, #FFF);
	background-size: cover;
	width: 100%;
	height: 100%;
}

.halls-content__link_vibes {
		background-image: url('../img/80-vibes.png');
}

.halls-content__link_star {
		background-image: url('../img/star-wars.png');
}

.halls-content__link_wild {
		background-image: url('../img/wild-west.png');
}

.halls-content__link_neon {
		background-image: url('../img/neon-style.png');
}

.halls-content__link-title {
	max-width: 252px;
	text-align: center;
	font-size: 70px;
	font-weight: 700;
	line-height: 80px;
	text-transform: uppercase;
}

@media (max-width: 1439px) and (min-width: 1024px) {
	.halls {
		padding: 61px 0 70px;
	}

	.halls-content__item {
		min-height: 267px;
	}

	.halls-content__link-title {
		font-size: 50px;
		line-height: 60px;
	}
}

@media (max-width: 1023px) and (min-width: 768px) {
	.halls {
		padding: 30px 0 63px;
	}

	.halls-content__item {
		min-height: 200px;
	}

	.halls-content__link-title {
		font-size: 40px;
		line-height: 50px;
	}
}

@media (max-width: 767px) and (min-width: 320px) {
	.halls {
		padding: 15px 0 30px;
		max-height: 735px;
		box-sizing: content-box;
	}

	.halls-content__list {
		grid-template-columns: 1fr;
		grid-template-rows: auto auto auto auto;
		gap: 10px;
		min-height: 702px;
	}

	.halls-content__item {
		min-height: 168px;
	}

	.halls-content__link-title {
		font-size: 26px;
		line-height: 34px;
	}
}
