.halls {
	padding-bottom: 100px;
}

.halls-content__list {
	width: 100%;
	padding: 0;
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	list-style: none;
}

.halls-content__link {
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	color: var(--color-white, #FFF);
	background-size: cover;
	min-width: 580px;
	min-height: 349px;
}

.halls-content__link_vibes {
		background-image: url('../img/80-vibes.png');
}

.halls-content__link_star {
		background-image: url('../img/star-wars.png');
}

.halls-content__link_wild {
		background-image: url('../img/wild-west.png');
}

.halls-content__link_neon {
		background-image: url('../img/neon-style.png');
}

.halls-content__link-title {
	max-width: 252px;
	text-align: center;
	font-size: 70px;
	font-weight: 700;
	line-height: 80px;
	text-transform: uppercase;
}