.header {
	padding-top: 30px;
	margin-bottom: 50px;
}

.header__wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navigation__list {
	display: flex;
	gap: 40px;
}

.navigation__link {
	font-size: 22px;
	line-height: 50px;
	text-transform: uppercase;
}

.header__btn {
	min-width: 280px;
	max-height: 55px;
	padding: 12px 32px;
	line-height: 30px;
	border: 3px solid var(--pink-color);
	border-radius: 10px;
	font-size: 22px;
	text-transform: uppercase;
	color: var(--color-text);
	font-weight: 700;
	font-style: normal;
}

.header__btn:hover {
	background-color: var(--violet-color);
	border: 3px solid var(--violet-color);
}

.header__btn:focus{
	background-color: var(--violet-color);
}

.header__btn:active {
	background-color: var(--light-purple);
	border: 3px solid var(--black);
}