.form-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  z-index: 4;
  visibility: hidden;
  opacity: 0;
  background: rgba(27, 26, 27, 0.70);
  justify-content: center;
  align-items: center;
}

.form-overlay.is-visible {
  display: flex;
  opacity: 1;
  visibility: visible;
}

.form-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal {
  opacity: 1;
  position: fixed;
  top: 50%;
  left: 50%;
  animation: molalAnimate 6s forwards;
  padding: 60px 150px 80px;
  max-width: 600px;
  width: 100%;
  height: 498px;
  background-color: var(--dark-purple, #440F51);
}

.modal-close {
  position: absolute;
  top: 15px;
  right: 15px;
  content: '';
  background-image: url(/img/close-modal.svg);
  background-repeat: no-repeat;
  width: 42px;
  height: 42px;
}

.modal-title {
  color: var(--color-white, #FFF);
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.modal__btn {
  min-width: 300px;
  height: 60px;
  border-radius: 10px;
  background-color: var(--color-white, #FFF);
  color: var(--violet-color, #6C0287);
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 28px;
  padding: 16px 50px;
}

.modal-inner {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 280px;
  max-height: 74px;
  flex-shrink: 1;
  margin-bottom: 40px;
}

.modal-name {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
}

.modal-input {
  appearance: none;
  display: inline-block;
  border: none;
  min-width: 280px;
  height: 52px;
  padding: 12px 20px;
}

@keyframes molalAnimate {
  0% {
    transform: translateX(-300%) translateY(-50%);
  }
  100% {
    transform: translateX(-50%) translateY(-50%);
  }
}