.navigation__list {
	display: flex;
	gap: 40px;
}

.navigation__link {
	font-size: 22px;
	line-height: 50px;
	text-transform: uppercase;
}

@media (max-width: 1439px) and (min-width: 1024px) {
	.navigation__list {
		gap: 20px;
	}

	.navigation__link {
		font-size: 18px;
		line-height: 22px;
		text-transform: uppercase;
	}
}

@media (max-width: 1023px) and (min-width: 0px) {
	.navigation {
		display: none;
	}
}