.question {
	padding: 50px 0;
}


@media (max-width: 1439px) and (min-width: 1024px) {
	.question {
		padding: 35px 0;
	}
}

@media (max-width: 767px) and (min-width: 320px) {
	.question {
		padding: 15px 0;
	}
}