.reserve {
	background-color: var(--dark-purple);
	padding: 80px 0;
	margin-bottom: 50px;
}

.reserve-hall {
	border: none;
	margin-bottom: 40px;
}

.reserve-hall__wrapper {
	display: flex;
	gap: 60px;
	border: none;
}

.reserve__title {
	text-align: start;
	font-size: 24px;
	font-weight: 700;
	line-height: 28px;
	margin-bottom: 24px;
}

.reserve-hall__title {
	text-align: center;
	margin-bottom: 40px;
}

.reserve-btn {
	flex-basis: 250px;
	flex-shrink: 0;
	max-height: 55px;
	padding: 7px 15px;
	color: var(--black);
	text-align: center;
	font-size: 30px;
	font-weight: 700;
	line-height: 40px;
	text-transform: uppercase;
	border-radius: 8px;
	transition-property: all;
	transition-duration: 0.2s;
}

.reserve-btn:hover {
	border: 3px solid var(--light-purple);
	background: var(--grey);
	padding: 4px 12px;
}

.reserve-btn:focus {
	color: var(--black);
	border: 3px solid var(--light-purple);
	background: var(--color-white);
	padding: 4px 12px;
}

.reserve-btn:active {
	border: 3px solid var(--color-white);
	background-color: var(--violet-color);
	color: var(--color-white);
	padding: 4px 12px;
}

.reserve-games {
	margin-bottom: 67px;
}

.reserve__wrapper {
	display: flex;
	flex-direction: column;
	min-width: 280px;
}

.reserve-games__title {
	margin-bottom: 24px;
}

.reserve-games__wrapper {
	display: flex;
	justify-content: center;
	gap: 100px;
}

.reserve__wrapper {
	display: flex;
	gap: 20px;
}

.reserve-games__consoles-title {
	margin-bottom: 24px;
}

.reserve-games__title {
	text-align: center;
	margin-bottom: 40px;
}

.reserve-games__inner {
	display: flex;
	align-items: center;
	font-size: 22px;
}

.reserve-consoles__radio {
	position: relative;
}

.reserve-games__console {
	appearance: none;
	position: absolute;
}

.reserve-games__inner {
	cursor: pointer;
	font-size: 22px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	padding-left: 39px;
}

.reserve-games__inner::before {
	content: '';
	display: block;
	width: 27px;
	height: 27px;
	background-color: var(--color-white);
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 50%;
	z-index: 1;
}

.reserve-games__inner::after {
	content: '';
	display: block;
	width: 21px;
	height: 21px;
	background-color: var(--pink-color);
	border-radius: 50%;
	position: absolute;
	top: 3px;
	left: 3px;
	z-index: 3;
	opacity: 0;
}

.reserve-games__console:checked + .reserve-games__inner::after {
	opacity: 1;
}

.reserve-games__console:focus {
	border: 1px solid var(--pink-color);
	width: 33px;
	height: 33px;
	top: -3px;
	left: -3px;
}

.reserve-boardgame__inner {
	display: flex;
	align-items: center;
	font-size: 22px;
}

.reserve-boardgame {
	margin-right: 12px;
	width: 25px;
	height: 25px;
}

.reserve-add__inner {
	display: flex;
	align-items: center;
	font-size: 22px;
}

.reserve-other__inner {
	display: flex;
	align-items: center;
	font-size: 22px;
}

.reserve-boardgame__checkbox,
.reserve-other__checkbox {
	position: relative;
}

.reserve-boardgame__input,
.reserve-other__input {
	appearance: none;
	position: absolute;
}

.reserve-boardgame__inner,
.reserve-other__inner {
	cursor: pointer;
	font-size: 22px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	padding-left: 39px;
}

.reserve-boardgame__inner::before,
.reserve-other__inner::before {
	content: '';
	display: block;
	width: 27px;
	height: 27px;
	background-color: var(--color-white);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

.reserve-boardgame__inner::after,
.reserve-other__inner::after {
	content: '';
	display: block;
	width: 22px;
	height: 27px;
	background: url('../img/checked.svg');
	background-repeat: no-repeat;
	position: absolute;
	top: 3px;
	left: 3px;
	z-index: 3;
	opacity: 0;
}

.reserve-boardgame__input:checked + .reserve-boardgame__inner::after,
.reserve-other__input:checked + .reserve-other__inner::after {
	opacity: 1;
}

.reserve-boardgame__input:focus,
.reserve-other__input:focus {
	border: 1px solid var(--pink-color);
	width: 33px;
	height: 33px;
	top: -3px;
	left: -3px;
}


.reserve-time__title {
	text-align: center;
	margin-bottom: 38px;
}

.reserve__container {
	max-width: 980px;
	margin: 0 auto;
}

.reserve-time__wrapper {
	display: flex;
	gap: 50px;
	justify-content: space-between;
	align-items: flex-end;
	margin-bottom: 14px;
}

.reserve-time__wrapper-bottom {
	margin-bottom: 40px;
}

.reserve-time__inner {
	display: flex;
	gap: 32px;
}

.reserve-time__inner-time,
.reserve-time__inner-date {
	height: 52px;
	position: relative;
	display: inline-block;
}

.reserve-time__input,
.reserve-time__count-input {
	appearance: none;
	display: inline-block;
	width: 134px;
	height: 52px;
	padding: 12px 20px;
}

.reserve-time__input:focus {
	outline: none;
	border: 2px solid var(--pink-color);
}

.reserve-time__input::placeholder {
	color: var(--black-grey);
	font-size: 18px;
}

.reserve-time__inner-time {
	position: relative;
}

.reserve-time__img {
	position: absolute;
	right: 27px;
}

.reserve-time__wrapper-info{
	display: flex;
	flex-direction: column;
}

.reserve-time__inner-info {
	display: flex;
	flex-direction: column;
	gap: 6px;
}

.reserve-time__name-input,
.reserve-time__surname-input{
	width: 280px;
}

.reserve-time__phone-input,
.reserve-time__email-input {
	width: 300px;
}

.reserve-time__count-input {
	appearance: none;
	width: 300px;
	display: inline-block;
	height: 52px;
	padding: 12px 20px;
}

.reserve-time__naming {
	font-size: 14px;
	font-weight: 700;
	line-height: 16px;
}

.reserve-time__count {
	position: relative;
}

.reserve__count-img {
	position: absolute;
	right: 27px;
}

.reserve__btn-wrapper {
	display: flex;
	justify-content: end;
}

.reserve__btn {
	min-width: 300px;
	height: 60px;
	border-radius: 10px;
	background-color: var(--color-white);
	font-size: 22px;
	text-transform: uppercase;
	font-weight: 700;
	line-height: 28px;
	padding: 16px 50px;
}

.reserve__btn:hover {
	border: 3px solid var(--violet-color);
	padding: 13px 47px;
	background: var(--grey);
}

.reserve__btn:focus {
	background: var(--grey);
}

.reserve__btn:active {
	border: 3px solid var(--violet-color);
	background: var(--color-white);
	padding: 13px 47px;
}

