.room-content__wrapper {
	display: flex;
	gap: 80px;
	align-items: center;
}

.room-content__img {
	background-repeat: no-repeat;
	background-size: cover;
	max-width: 600px;
	width: 100%;
	height: 424px;
}

.room-content__img_vibes {
	background: url('../img/content-vibes-1440.png'), lightgray 50%;
}

.room-content__img_wars {
	background: url('../img/content-war-1440.png'), lightgray 50%;
}

.room-content__img_west {
	background: url('../img/content-west-1440.png'), lightgray 50%;
}

.room-content__img_neon {
	background: url('../img/content-neon-1440.png'), lightgray 50%;
}

.room-content__text:first-child {
	margin-bottom: 20px;
}

.room-content__text {
	font-size: 20px;
	line-height: 28px;
}

@media (max-width: 1439px) and (min-width: 1024px) {
	.room-content__wrapper  {
		gap: 30px;
	}

	.room-content__img {
		height: 326px;
		min-width: 461px;
	}

	.room-content__text {
		font-size: 18px;
	}
}

@media (max-width: 1023px) and (min-width: 768px) {
	.room-content__wrapper  {
		gap: 46px;
	}
	.room-content__img {
		height: 326px;
		min-width: 329px;
	}

	.room-content__text {
		font-size: 16px;
	}
}

@media (max-width: 767px) and (min-width: 320px) {
	.room-content__wrapper {
		flex-direction: column;
		gap: 15px;
	}

	.room-content__img {
		height: 180px;
		min-width: 280px;
		background-size: cover;
	}
	
	.room-content__text {
		font-size: 12px;
		line-height: 16px;
	}

	.room-content__text:first-child {
		margin-bottom: 10px;
	}
}