.social {
	display: flex;
	gap: 26px;
	list-style: none;
	padding: 0;
}

.social__link {
	display: block;
	height: 50px;
	width: 50px;
	color: var(--color-white);
	outline: 1px solid transparent;
	outline-offset: 3px;
	border-radius: 50%;
	transition-property: color, outline-color;
	transition-duration: 0.3s, 0.2s;
	transition-timing-function: ease-in-out;
}

.social__tg {
	padding-top: 2px;
	padding-left: 2px;
}

.social__link-icon {
	min-width: 100%;
	min-height: 100%;
}

.social__link:hover {
	color: var(--pink-color);
}

.social__link:focus {
	outline-color: var(--pink-color);
}

.social__link:active {
	color: var(--purple-saturated);
}