@import 'var.css';
@import 'normalize.css';
@import 'global-style.css';
@import 'header.css';
@import 'navigation.css';
@import 'game-over.css';
@import 'section.css';
@import 'content.css';
@import 'title.css';
@import 'halls.css';
@import 'about.css';
@import 'citate.css';
@import 'creator.css';
@import 'footer.css';
@import 'contacts.css';
@import 'social.css';
@import 'faq.css';
@import 'reviews.css';
@import 'description.css';
@import 'reserve.css';
@import 'question.css';
@import 'back.css';
@import 'bg-section.css';
@import 'room-description.css';
@import 'room-content.css';
@import 'other-room.css';
@import 'modal.css';
@import 'burger-menu.css';


