:root {
	--dark: #1B1A1B;
	--dark-light: #1C1A1A;
	--color-white: #FFF;
	--pink-color: #CD06FF;
	--dark-purple: #440F51;
	--violet-color: #6C0287;
	--light-purple: #640AA3;
	--purple-saturated: #840AA3;
	--black: #000;
	--black-grey: #211E1E;
	--grey: #EDDEED;
}